
.container{
    /*border: solid 1px blueviolet;*/
    /*background-color: brown;*/
    /*right:10px;
    bottom:14px;
    position: relative;
    z-index: 100;*/
}

.parrafo{
    /*right:10px;*/
    bottom:7rem;
    position: relative;
    z-index: 90;
    background-color: white;
    min-height: 120px;
    border-radius: 5%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
    padding-top: 2%;
}

.boton2{
    position: absolute;
    right: 0;
    top: 10%; /* Ajusta según tus necesidades */
    transform: translateY(-59%);
    cursor: pointer;
    /*padding-right: 9%;*/
    border: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 30%;
}

.boton2:hover{
    background-color: /*#FF2400*/ #DC143C /*#FF4500*/;
    border-radius: 30%;
}

.boton{
    border: none;
    background: none;
    cursor: pointer;
    /*font-size: 2rem;*/
    position: absolute;
    right: 0;
    top: 75%; /* Ajusta según tus necesidades */
    transform: translateY(-50%);
     

}

.boton:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15%;
}

.comment{
    font-size: 2rem;
     
}